<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	" default-lazy-init="true">

	<bean id="userService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
		<!-- 服务url-->
		<property name="serviceUrl" value="rmi://localhost:1199/UserSpringService" />
		<!-- 服务接口 -->
		<property name="serviceInterface" value="com.hua.service.UserSpringService" />
		<!-- 解决RMI服务器 拒绝链接、找不到服务的情况 -->
		<property name="lookupStubOnStartup" value="false" />
		<!-- 连接失败后 刷新 -->	
		<property name="refreshStubOnConnectFailure" value="true" />	
	</bean>
	
</beans>
